<!-- <h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p> -->

<!-- p + e + TAB to show something (shortcut) -->
<!-- er. + TAB don't want it to be displayed (shortcut) -->

<h1>My tasks</h1>

<% @tasks.each do |task| %>
  <div>
    <% if task.completed %>
      <i class="far fa-check-square"></i>
    <% else %>
      <i class="far fa-square"></i>
    <% end %>

    <%= link_to "#{task.title}", task_path(task) %>

    <%= link_to ('<i class="fas fa-trash-alt"></i>').html_safe, task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  </div>
  </br>
<% end %>
</br>
<%= link_to "Add new task", new_task_path %>

